<h1>Doctors#new</h1>
<%= form_with(model: @doctor, local:true, class:"ui form") do |f| %>
  <div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  </div>
  <div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  </div>
  <%= f.submit "Create Doc" %>
<% end %>